## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [56]:
numeroEntero = 5
print(numeroEntero)

5

2) Imprimir el tipo de dato de la variable 8.5

In [57]:
variable = 8.5
print(type(variable))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [58]:
print(numeroEntero)

5

4) Crear una variable que contenga tu nombre

In [59]:
nombre = 'Franco'

5) Crear una constante que contenga el número Pi

In [60]:
PI = 3.14

6) Mostrar el tipo de dato de la variable creada en el punto 5

In [61]:
type(PI)

float

7) Crear una variable que contenga el valor del número **e** (número de euler) redondeado a 4 decimales

In [62]:
numeroe = round(2.71828, 2)
print(numeroe)

2.72

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [63]:
stringTrue = 'True'
booleanoTrue = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [64]:
print(type(booleanoTrue))
print(type(stringTrue))

<class 'bool'>
<class 'str'>

10) Asignar a una variable, la suma de un número entero y otro flotante

In [65]:
variableMixta = 5 + (6.7)
print(variableMixta)

11.7

11) Realizar una operación de suma de un número definido como string con un entero

In [66]:
numeritoString = "2"
print(int(numeritoString) + 5)

7

12) Crear una variable que contenga el valor del punto 7 elevado al cubo (potencia de 3)

In [67]:
alCubo = 2.72**3
print(round(alCubo, 4))

20.1236

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [68]:
numIngresado = int(input("Ingresar numero: "))
multiplicacion = (numIngresado) * 2
print(multiplicacion)

8

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [69]:
division = 27 / 4
print('Cociente de la division: ', division)

Cociente de la division:  6.75

15) De la división anterior solamente mostrar la parte entera

In [70]:
division = 27 // 4
print('Solo la parte entera de la division: ', division)

Solo la parte entera de la division:  6

16) De la división de 27 entre 4 mostrar solamente el resto

In [71]:
restoDelaDivision = 27 % 4
print('resto de la division: ', restoDelaDivision)

resto de la division:  3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 15 y 16, obtener 27 como resultado

In [72]:
resultado = (4 * 6) + 3
print('resultado: ', resultado)

resultado:  27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [73]:
booleanComparador = 2 == "2"
print(booleanComparador) 
##! Son diferentes por el type

False

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 18 resulte verdadera

In [74]:
booleanComparador = 2 == int("2")
print(booleanComparador)

True

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [75]:
a = float('3.8')
print(a)
##! El de la consigna daba error por que estaba con coma, los numeros decimales son con punto .

3.8

21) Realizar la operación 10 + '10' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [76]:
operacion = 10 + int('10')
print(operacion)

20

22) Crear una variable que contenga un menú con los elementos MENU: 1 - Pizza, 2 - Empanadas, 3 - Milanesas, 4 - Salir, y luego mostrarlo por pantalla

In [77]:
Menu = ['1 - Pizza', '2 - Empanadas', '3 - Milanesas', '4 - Salir']
print(Menu)

['1 - Pizza', '2 - Empanadas', '3 - Milanesas', '4 - Salir']

23) Crear una lista que contenga los números del 1 al 10

In [78]:
numeros = [1,2,3,4,5,6,7,8,9,10]

24) Imprimir el penultimo elemento de la lista creada en el punto 23

In [79]:
numeros = [1,2,3,4,5,6,7,8,9,10]
print('penultimo: ', numeros[-2])

penultimo:  9

25) Modificar el tercer elemento de la lista creada en el punto 23 poniendo tu nombre

In [80]:
numeros = [1,2,3,4,5,6,7,8,9,10]
print(numeros)
numeros[2] = 'Franco'
print(numeros)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 'Franco', 4, 5, 6, 7, 8, 9, 10]

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [81]:
letras = list("ABCDEFGHI")
## print(letras)
Matriz = [letras[i:i+3] for i in range(0, len(letras), 3)]
print(Matriz)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

27) Imprimir la matriz creada en el punto 26

In [82]:
Matriz = [letras[i:i+3] for i in range(0, len(letras), 3)]
print(Matriz)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

28) Modificar la letra E de la matriz y colocar la letra Z

In [83]:
Matriz = [letras[i:i+3] for i in range(0, len(letras), 3)]
Matriz[1][1] = 'Z' 
print(Matriz)

[['A', 'B', 'C'], ['D', 'Z', 'F'], ['G', 'H', 'I']]

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [84]:
Matriz = [letras[i:i+3] for i in range(0, len(letras), 3)]
posiA = Matriz[0].index('A')
posiB = Matriz[0].index('B')
posiC = Matriz[0].index('C')
Matriz[0][posiA] = 1
Matriz[0][posiB] = 2
Matriz[0][posiC] = 3
##? Solucion larga solo para practicar
print(Matriz)

[[1, 2, 3], ['D', 'E', 'F'], ['G', 'H', 'I']]

30) Crear una tupla que contenga 5 marcas de ropa

In [85]:
# marcasDeRopa = ('CUERDOS'), ('Levis'), ('GRIZZLY'), ('Bautic'), ('Vans')
marcasDeRopa = ('CUERDOS','Levis','GRIZZLY', 'Bautic', 'Vans')
print(marcasDeRopa)

('CUERDOS', 'Levis', 'GRIZZLY', 'Bautic', 'Vans')

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [86]:
marcasDeRopa = ('CUERDOS','Levis','GRIZZLY', 'Bautic', 'Vans')
print(marcasDeRopa[0])

CUERDOS

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [87]:
##! Las tuplas no se pueden modificar

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [88]:
Persona = {
    'nombre': 'Franco',
    'edad': 24,
    'hobbies': ['Cine', 'Bicicleta', 'Lectura']
}
print(Persona)

{'nombre': 'Franco', 'edad': 24, 'hobbies': ['Cine', 'Bicicleta', 'Lectura']}

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [89]:
print(Persona['hobbies'])

['Cine', 'Bicicleta', 'Lectura']

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [90]:
nuevaEdad = Persona['edad'] = 25
print(nuevaEdad)
print(Persona)

25
{'nombre': 'Franco', 'edad': 25, 'hobbies': ['Cine', 'Bicicleta', 'Lectura']}